body {
	padding: 15px;
	font-family: 'Work Sans', sans-serif;
	a {
		color: #53b3d7;
		text-decoration: none;
	}
	a:hover {
		color: rgb(121, 205, 197);
		h2 {
			color: rgb(121, 205, 197);
		}
	}
	h1, h2 {
    font-weight: 400;
	}
	.summary {
		h1 {
			color:	#6B5E62;
			padding: 80px 60px;
			text-align: center;
		}
		.highlight {
			color: #EFB2F4;
		}
		h2 {
			text-align: center;
			padding: 0 120px 150px 120px;
		}
		span {
			color: #EFB2F4;
		}
	}
	
	.skills, .projects {
		background-color: #fdfafc;
		padding: 60px;
	}

	.skills {
		p {
			color: red;
			font-size: 18px;
		}
	}

	.experience {
		padding: 60px;
	}
	
	#paw2paw {
		p {
			font-size: 1.5em;
		}
	}
	
	.contact {
		padding: 60px;
		ol {
			padding-left: 0;
			font-size: 18px;
		}
	}
}