body {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	a {
		color: #53b3d7;
		text-decoration: none;
	}
	a:hover {
		color: rgb(121, 205, 197);
		h2 {
			color: rgb(121, 205, 197);
		}
	}
	h1, h2 {
    font-weight: 400;
	}
	.section-title {
		text-decoration-line: underline;
		text-decoration-color: #A7CDBD;
	}
	.summary {
		#logo {
			width: 10%;
			margin-left: 45%;
		}
		h1 {
			color:	#6B5E62;
			padding: 80px 60px;
			text-align: center;
		}
		.highlight {
			color: #A7CDBD;
		}
		h2 {
			text-align: center;
			padding: 0 120px 150px 120px;
		}
	}
	
	.skills, .projects, .contact {
		background-color: #fdfafc;
		padding: 60px;
	}

	.skills {
		p {
			color: #869D7A;
			font-size: 18px;
		}
	}

	.experience {
		padding: 60px;
		h2 {
			font-weight: 100;
			font-size: 18px;
			font-style: italic;
		}
		li {
			font-size: 18px;
		}
	}

	.education {
		padding: 60px;
		#lhl {
			width: 4%;
		}
		#ubc {
			width: 2.5%;
			padding: 5px;
		}
	}
	.projects {
		.date {
			font-size: 16px;
		}

		.details {
			font-size: 1.25em;
		}

		hr {
			border-width: 2px;
		}

		#paw2paw, #jungle, #chatty {
			padding-bottom: 20px;
		}

		#jungle-img {
			width: 53%;
		}

		.project-btn {
			background-color:  #6A706E;
			color:white;
			width: 220px;
			height: 40px;
			border-radius: 5px;
			margin-bottom: 10px;
			font-size: 18px;
		}

		.project-btn:hover {
			color: #89B6A5;
			background-color: white;
		}
			
		.project-btn:focus {
			outline: none;
		}

		.paw2paw-details, .jungle-details, .chatty-details, .tweeter-details {
			display: none;
			width: 50%;
			.title {
				color: #53b3d7;
			}
		}
	}
	
	.contact {
		padding: 60px;
		.me {
			float: left;
			padding-right: 15px;
			img {
				border-radius: 50%;
				width: 163px;
				height: 157px;
			}
		}
		.contact-info {
			ol {
				padding-left: 0;
				font-size: 18px;
			}
		}
	}
}

footer {
	p {
		font-size: 12px;
		color: #A7CDBD;
		text-align: center;
	}
}